<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="/css/alunoinfo.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/img/logo.png">
</head>

<body>

<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <img class="logo" src="/img/logo_2.png"></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="/dashboard" class="active"><span class="las la-users"></span>
        <span> Gerenciar Alunos</span></a>
    </li>
       <li>
        <a href="/dashboard/ferramentas" class="order" id="fer"><span class="las la-tools"></span>
        <span> Ferramentas</span></a>
    </li>
    <li>
        <a href="/" class="order"><span class="las la-bell"></span>
        <span> Notificações</span></a>
    </li>
    <li>
      <a href="/logoutadm" class="order" style="color: red; opacity: 100%"><span class="las la-arrow-alt-circle-left"></span>
      <span> Sair</span></a>
    </li>

    </ul>
  </div>
</div>

  <div class="main-content">
    <header>
     <h2>
        <label for="nav-toggle">
          <span class="las la-bars"></span>
        </label>
        Dashboard
     </h2>

      <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Procure aqui">
      </div>

      <div class="user-wrapper">
        <img src="/img/user.png" width="30px" height="30px" alt="">
        <div>
          <h4>Dani<br>Teixeira</h4>
          <small>Dona</small>
        </div>
      </div>
    </header>

    <main>
      <div class="options">
        <div class="back"><a href="/dashboard"><span class="las la-arrow-left"></span></a> Perfil do aluno</div>

        <div class="buttons">
          
          <button class="editar">Editar</button>
          <a href="/deletaraluno/<%= user.id_aluno%>"><button class="excluir">Excluir</button></a>
        </div>
        
      </div>

      <% let data = user.data_nasc_aluno
         let dataform = ((data.getDate() )) + "/" + ((data.getMonth() + 1)) + "/" + data.getFullYear(); %>

      <% function getAge(dateString) {
         const today = new Date();
         const birthDate = new Date(dateString);
         let age = today.getFullYear() - birthDate.getFullYear();
         const m = today.getMonth() - birthDate.getMonth();

         if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
         }
         return age;
      }%> 

      <% var cpf = user.cpf_aluno;
      function formataCPF(cpf){
        cpf = cpf.replace(/[^\d]/g, "");

        return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4")
      }
      %>
      <div class="principal-aluno">

          <div class="card-principal">
            <img class="alunoimg" src="/img/user.png">
            <p><strong><%= user.nome_aluno%> <%= user.sobrenome_aluno%></strong></p>
            <a href="/dashboard/aluno/novotreino/<%= user.id_aluno%>"><button class="novotreino">Enviar novo treino <span class="las la-plus"></span></button></a>
          </div>

          <div class="card-secundario">
            <h3 class="titulo-dados">Dados gerais:</h3>

           
            <p class="dados-gerais">E-mail: <%= user.email_aluno%></p>
            <p class="dados-gerais">CPF: <%= formataCPF(cpf)%></p>
            <p class="dados-gerais">Data de nascimento: <%=  dataform%> </p>
            <p class="dados-gerais">Idade: <%= getAge(data)%> anos</p>
            <p class="dados-gerais">Sexo: <%= user.sexo_aluno%></p>
            <p class="dados-gerais">Celular: <%= user.telefone_aluno%></p>
       
          </div>
        
        </div>


        <% if(anamnese) {%>
        <div class="anamnese">
          <h3 class="titulo-dados-anamese">Anamnese:</h3>
 

        <div class="colunas-anamnese">
         <div class="subcolunas-anamnese">

           <div class="coluna-um">
             <p class="dados-gerais-anamnese">Profissão: <%= anamnese.profissao%></p>
             <p class="dados-gerais-anamnese">Naturalidade: <%= anamnese.naturalidade%></p>
             <p class="dados-gerais-anamnese">Contato de emergência: <%= anamnese.contato_emergencia%></p>
             </div>
 
           <div class="coluna-dois">
             <p class="dados-gerais-anamnese">Altura: <%= anamnese.altura %></p>
             <p class="dados-gerais-anamnese">Peso: <%= anamnese.peso%></p>
             <p class="dados-gerais-anamnese">Tipo sanguíneo: <%= anamnese.tipo_sanguineo%></p>
           </div>
           

           <div class="coluna-tres">
            <p class="dados-gerais-anamnese">Horas de sono: <%= anamnese.horas_sono%></p>
            <p class="dados-gerais-anamnese">Período mestrual: <%= anamnese.periodo_menstruacao%></p>
            <p class="dados-gerais-anamnese">Objetivo do aluno: <%= anamnese.objetivo%></p>
            </div>

           
         </div>

           <div class="subcolunas-anamnese">
           
             
 
           <div class="coluna-tres">
           <p class="dados-gerais-anamnese">Frequência de Exercícios: <%= anamnese.historico_exercicio_frequencia%></p>
           <p class="dados-gerais-anamnese">Tempo de exercícios: <%= anamnese.historico_exercicio_tempo%></p>
           <p class="dados-gerais-anamnese">Frequência cardíaca: <%= anamnese.frequencia_cardiaca_repouso%></p>
           </div>

           <div class="coluna-tres">
            <p class="dados-gerais-anamnese">Suplementos alimentares: <%= anamnese.uso_suplemento_alimentar%></p>
            <p class="dados-gerais-anamnese">Medicamentos: <%= anamnese.uso_medicacao%></p>
            <p class="dados-gerais-anamnese">Patologia: <%= anamnese.patologia%></p>
            </div>
 
           </div>
           </div>
         </div>
       </div>
<% } else {%>
 
  <div class="anamnese">
    <h3 class="titulo-dados-anamese">Anamnese:</h3>


  <div class="colunas-anamnese">
   <div class="subcolunas-anamnese">

     <div class="coluna-um">
      <p>Aluno ainda não possui anamnese</p>
      </div>

      <div class="coluna-dois">
        <button class="btn-aviso">Enviar aviso</button>
      </div>
      </div>
      </div>
      </div>
      <% } %> 
    </main>
  </div>
  
  
</body>

</html>
